.HeaderWrapper{
    height:70vh;
    width:100vw;
    position: relative;
}

.HeaderWrapper .imgHeader{
    width:100%;
    height:100%;
}

.HeaderWrapper .HeaderOverlay{
    position:absolute;
    width:100vw;
    height:70vh;
    top:0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding-top:10vw;
    padding-left:10vw;
    padding-right:10vw;
    
}
.HeaderWrapper .HeaderOverlay button{
    margin:1%;
}
.HeaderWrapper .HeaderOverlay h1{
    font-size:5em;
}