.previewWrapper{
    min-height:40vh;
    width:100vw;
    height:auto;
}

.previewWrapper .seeButton{
    margin-top:2%;
    margin-bottom:2%;
    margin-left:2%;
    margin-right:2%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.previewWrapper .seeButton button{
    min-width:20vw;
}
.previewWrapper .owl-theme .item .card{
    width: 18rem;
}